@page "/events"

@using CanineConnect.Data
@using Models
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<CanineConnectContext> DbContextFactory


<PageTitle>Events</PageTitle>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-success text-center mb-2">Upcoming Events</h2>

            <div class="d-grid gap-3">
                @foreach (Event e in _events)
                {
                    <EventCard ScheduledEvent="@e" />
                }
            </div>
        </div>
    </div>
</div>
<br />

@code {
    List<Event> _events = new List<Event>();

    protected override async Task OnInitializedAsync()
    {

        using (var context = DbContextFactory.CreateDbContext())
        {
            _events = await context.Event
                .OrderBy(e => e.Date)
                .Include(e => e.Host)
                .Include(e => e.Location)
                .ToListAsync();
        }

        await base.OnInitializedAsync();
    }
}
