@rendermode InteractiveServer
@page "/myeventposts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using CanineConnect.Models
@using CanineConnect.Data
@using CanineConnect.StateObjects
@using Microsoft.EntityFrameworkCore
@implements IAsyncDisposable
@inject IDbContextFactory<CanineConnect.Data.CanineConnectContext> DbFactory

<PageTitle>Your Posted Events</PageTitle>
<div style="padding: 20px">
    <h1 class="text-success text-center mb-2">Your Posted Events</h1>

    <p>
        <a href="myeventposts/create">Create New</a>
    </p>

    <QuickGrid Class="table" Items="context.Event.Include(e => e.Location).Include(e => e.Host)">
        <PropertyColumn Property="eventpost => eventpost.Name" />
        <PropertyColumn Property="eventpost => eventpost.Date" />
        <PropertyColumn Property="eventpost => eventpost.Time" />
        <PropertyColumn Property="eventpost => eventpost.Description" />
        <PropertyColumn Property="eventpost => LocationToString(eventpost.Location)" Title="Location"/>
        <PropertyColumn Property="eventpost => hostToString(eventpost.Host)" Title="Host" />

        <TemplateColumn Context="eventpost">
            <a href="@($"myeventposts/edit?id={eventpost.Id}")">Edit</a> |
            <a href="@($"myeventposts/details?id={eventpost.Id}")">Details</a> |
            <a href="@($"myeventposts/delete?id={eventpost.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
</div>
@code {
    private CanineConnectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();

    protected string LocationToString(Address address)
    {
        string location = $"{address.Street}, {address.City}, {address.State}, {address.PostalCode} {address.Country}";

        return location;
    }

    protected string hostToString(Shelter shelter)
    {

        string host = shelter.ShelterName;

        return host;
    }
}
