@inherits LayoutComponentBase
<head>
    <link rel="stylesheet" type="text/css" href="/bootstrap/main.css">
</head>

<div class="page">
   
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Logo/Name (ADD LOGO)-->
                <a class="navbar-brand" href="#">Canine Connect</a>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Tab 1 -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <!-- Tab 2 (CHANGE REF TO CORRECT WEBPAGE)-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dog Gallery</a>
                    </li>
                    <!-- Tab 3 -->
                    <li class="nav-item">
                        <a class="nav-link" href="events">Volunteer/Events</a>
                    </li>
                    <!-- Tab 4 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/faq">FAQ</a>
                    </li>
                </ul>
            </div>
            <!-- Search (NOT FUNCTIONAL)-->
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success text-nowrap" type="submit">
                    <i class="bi bi-search"></i> Search
                </button>
            </form>

            <ul class="nav navbar-nav me-auto">
                <!-- Tab 5 (CHANGE REF TO CORRECT WEBPAGE)-->
                <li class="nav-item">
                    <a class="nav-link" href="#"> Sign Up</a>
                </li>
                <!-- Tab 6 (CHANGE REF TO CORRECT WEBPAGE)-->
                <li class="nav-item">
                    <a class="nav-link" href="#"> Login</a>
                </li>
            </ul>
        </nav>

        <!-- Body -->
        <article class="content px-4">
            @Body
        </article>

        <!-- FOOTER -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">About Us</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
                    </div>
                    <!-- Contact Us -->
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">Contact US</h6>
                        <p>
                            1640 Riverside Drive, Hill Valley, California
                            <br />info@mywebsite.com
                            <br />+ 01 234 567 88
                            <br />+ 01 234 567 89
                        </p>
                    </div>
                </div>
                <!-- Copyright (IDK WHY I LEFT IT BUT IT LOOKS COOL) -->
                <div class="footer-copyright text-center">© 2024 Canine Connect. All rights reserved.</div>
            </div>
    </footer>
    </main>
</div>

<!-- Was here before I changed anything so I left it. Not completely sure what it does. -->
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
