<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo/Name (ADD LOGO)-->
        <a class="navbar-brand" href="#">Canine Connect</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Tab 1 -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <!-- Tab 2 (CHANGE REF TO CORRECT WEBPAGE)-->
            <li class="nav-item">
                <a class="nav-link" href="#">Dog Gallery</a>
            </li>
            <!-- Tab 3 -->
            <li class="nav-item">
                <a class="nav-link" href="events">Volunteer/Events</a>
            </li>
            <!-- Tab 4 (CHANGE REF TO CORRECT WEBPAGE)-->
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
        </ul>
    </div>

    <!-- Search (NOT FUNCTIONAL)-->
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search">
        <button class="btn btn-outline-success text-nowrap" type="submit">
            <i class="bi bi-search"></i> Search
        </button>
    </form>

    <ul class="nav navbar-nav me-auto">
        <!-- Tab 5 (CHANGE REF TO CORRECT WEBPAGE)-->
        <li class="nav-item">
            <a class="nav-link" href="#"> Sign Up</a>
        </li>
        <!-- Tab 6 (CHANGE REF TO CORRECT WEBPAGE)-->
        <li class="nav-item">
            <a class="nav-link" href="/login"> Login</a>
        </li>
    </ul>
</nav>

@code {

}