@page "/doglistings"

@using CanineConnect.Data
@using Models
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<CanineConnectContext> DbContextFactory

<h2 class="text-success text-center my-2">Dog Gallery</h2>

<div class="container-fluid mt-1">
    <div class="row row-cols-1 row-cols-md-3">
        @if (_dogs.Count != 0)
        {
            @foreach (var dog in _dogs)
            {
                <div class="col">
                    <div class="card mb-4 d-flex position-relative">
                        <div class="card-header">
                            <h4 class="card-title">@dog.Name</h4>
                        </div>

                        <div class="card-body">
                            <ul>
                                <li><strong class="text-forestgreen">Breed: </strong>@dog.Breed</li>
                                <li><strong class="text-forestgreen">Birthdate: </strong>@dog.Age.ToString("MMMM dd yyyy")</li>
                                <li><strong class="text-forestgreen">Host Shelter: </strong>@dog.Shelter?.ShelterName</li>

                            </ul>

                            @if (dog.ThumbnailImage is not null)
                            {
                                <img class="card-img" src="data:image;base64,@System.Convert.ToBase64String(dog.ThumbnailImage)" />
                            }

                            <a class="stretched-link" href="/doglistings/@dog.Id"></a>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    private List<DogListing> _dogs = new List<DogListing>();

    protected override async Task OnInitializedAsync()
    {
        using (var context = await DbContextFactory.CreateDbContextAsync())
        {
            _dogs = await context.DogListing
                .Include(e => e.Shelter)
                .ToListAsync();
        }

        await base.OnInitializedAsync();
    }
}