@page "/faq"
@rendermode InteractiveServer

<PageTitle>Frequently Asked Questions</PageTitle>

<h1 class="text-center">Frequently Asked Questions</h1>

<br />

<div class="mx-auto col-12 col-md-8 col-lg-6 col-xl-4">
    <Accordion>
        <AccordionItem title="When will my order ship?">
            <Content>
                Orders typically ship within 1-2 business days. During peak holiday season, please allow up to 3 business days for processing and shipping. You will receive an email
                notification with tracking information once your order has shipped.
            </Content>
        </AccordionItem>
        <AccordionItem title="What are your shipping rates?">
            <Content>
                Shipping rates are calculated based on your order total and shipping destination. You can see the estimated shipping cost for your order at checkout.
            </Content>
        </AccordionItem>
    </Accordion>
</div>